

.header{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    box-shadow: 0.05px 0.05px 10px 1px green;
    padding: 5px;
    border-radius: 5px;
    margin-top: 0;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 3px;
    box-shadow: 0.05px 0.05px 5px 1px green;
}

.header-title{
    color: black;
    text-shadow: 1px 1px 1px green;
    font-size: 22px;
    font-weight: bold;
}

.header-link-box{
    display: flex;
    align-items: center;
    gap: 80px;
}

.header-link{
    color: #000;
    text-shadow: 1px 1px 1px green;
    text-decoration: none;
    font-weight: bold;
}

.header-link:active{
    text-shadow: 1px 1px 1px red;
}

.header-box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-btn{
    width: 120px;
    height: 41px;
    background-color: #000;
    border-radius: 12px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 1px green;
    box-shadow: 1px 1px 1px 1px green;
}

.header-btn:active{
    box-shadow: 1.5px 1.5px 1.5px 1.5px red;
    text-shadow: 1px 1px 1px red;
}

.header-profil-img-box{
    width: 70px;
    height: 70px;
}

.profil-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0.05px 0.05px 5px 1px green;
}



/* 📱 380px uchun RESPONSIVE VIEW */
@media (max-width: 450px){

    /* logo, title, buttons, profil rasm yashiriladi */
    .header-logo,
    .header-box {
        display: none;
    }

    .header{
        height: 65px;
        justify-content: center;
    }

    /* faqat linklar markazda qoladi */
    .header-link-box{
        gap: 20px;
        width: 100%;
        justify-content: center;
    }

    .header-link{
        font-size: 16px;
        color: #000;
        text-shadow: 1px 1px 1px green;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid green;
    background-color: #f5f5f5;
  }
  
  .icon-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #050505C4;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.2s ease;
  }
  
  .icon-button:hover {
    background-color: #050505C4;
  }
  
  .profile-input {
    display: none;
  }
  
  .hint-text {
    font-size: 14px;
    color: #555;
  }